<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - MtaaniStore</title>
    {% load static   %}
</head>
<body>
    <h1>Welcome to MtaaniStore</h1>
    <p>We sell a variety of electronic devices at competitive prices.We are committed to providing the best customer service and the highest quality products.Our products mainly include a variety of phone accessories from trusted brands worldwide.</p>
    <img src="{% static 'images/mobileconnectivity.png' %}" alt="Sample Image">
</body>
</html>