<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vehicle Spare Parts - Salama Sales Ltd</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='50' font-size='90' fill='%230056b3'>S</text></svg>">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <h1>Vehicle Spare Parts</h1>
    <p>Welcome to our vehicle spare parts page!</p>
    <p>The following are a list of categories of vehicle spare parts we supply.</p>

    <h2>Product Categories</h2>
     <ul>
        <ol>
        <li>Engine Components</li>
            <ol type="a">
                <li>Air Filters</li>
                <li>Oil Filters</li>
                <li>Fuel Filters</li>
                <li>Spark Plugs</li>
            </ol>
        <li>Braking System</li>
            <ol type="a">
                <li>Brake Pads</li>
                <li>Brake Rotors</li>
                <li>Brake Calipers</li>
                <li>Brake Fluid</li>
            </ol>
        <li>Suspension and Steering</li>
            <ol type="a">
                <li>Shock Absorbers</li>
                <li>Strut Assemblies</li>
                <li>Tie Rod Ends</li>
                <li>Ball Joints</li>
            </ol>
        <li>Electrical Parts</li>
            <ol type="a">
                <li>Batteries</li>
                <li>Alternators</li>
                <li>Starters</li>
                <li>Ignition Coils</li>
            </ol>
        <li>Tires and Wheels</li>
            <ol type="a">
                <li>All-Season Tires</li>
                <li>Off-Road Tires</li>
                <li>Rims and Wheels</li>
                <li>Tire Repairs Kits</li>
            </ol>
        <li>Cooling System</li>
            <ol type="a">
                <li>Radiators</li>
                <li>Water Pumps</li>
                <li>Thermostats</li>
                <li>Coolant and Antifreeze</li>
            </ol>
        <li>Exhaust System</li>     
            <ol type="a">
                <li>Mufflers</li>
                <li>Exhaust Pipes</li>
                <li>Catalytic Converters</li>
                <li>Exhaust Manifolds</li>
            </ol>       
        <li>Transmission and Drivetrain</li>
            <ol type="a">
                <li>Transmission Fluid</li>
                <li>Transmission Filters</li>
                <li>Clutch Kits</li>
                <li>Drive Belts</li>
            </ol>
        <li>Fuel System</li>
            <ol type="a">
                <li>Fuel Pumps</li>
                <li>Fuel Injectors</li>
                <li>Fuel Tanks</li>
                <li>Fuel Regulators</li>
            </ol>
        <li>Body and Interior</li>
            <ol type="a">
                <li>Door Panels</li>
                <li>Bumpers</li>
                <li>Car Mats</li>
                <li>Seat Covers</li>
            </ol>
        <li>Lighting</li>
            <ol type="a">
                <li>Headlight Bulbs</li>
                <li>Tail Light Bulbs</li>
                <li>LED Lighting Kits</li>
                <li>Fog Lights</li>
            </ol>
        <li>Filters and Fluids</li>
            <ol type="a">
                <li>Engine Oil</li>
                <li>Transmission Fluid</li> 
                <li>Brake Fluid</li>
                <li>Hydraulic Fluid</li>
                <li>Smart Bluetooth Speakers</li>
            </ol>
        <li>Smart Home Devices</li>
            <ol type="a">
                <li>Smart Plugs</li>
                <li>Smart Lights</li>
                <li>Smart Thermostats</li>
                <li>Smart Security Cameras</li>
            </ol>
        </ol>

    </ul>


</body>
</html>