<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services - Salama Sales Ltd</title>
    {% load static %}
    <link rel="icon" type="image/x-icon" href="data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='50' font-size='90' fill='%230056b3'>S</text></svg>">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>
    <h1 class="text-center text-danger">Our Services</h1>
    <p>We offer a wide range of services to meet your needs. Our team is dedicated to providing top-notch support and assistance for all your electronic device requirements.</p>
    <ul>
        <h2>Service Offered</h2>
        <li>Device Repair and Maintenance</li>
        <li>Product Consultation and Recommendations</li>
        <li>Custom Orders and Special Requests</li>
        <li>Warranty and Support Services</li>
        <h2>Service Images</h2>
        <img src="{% static 'images/audiodevices.png' %}" alt="Sample Image">
        <img src="{% static 'images/mobileconnectivity.png' %}" alt="Sample Image">
        <img src="{% static 'images/phoneaccessories.png' %}" alt="Sample Image">
        <img src="{% static 'images/chargingdevices.png' %}" alt="Sample Image">

    </ul>
</body>
</html>